<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtIqF1r5uZsJh5cOYegwVtYRvThbiZGAfa5A&usqp=CAU"
			alt="playstation logo"
			srcset=""
			width="70px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://www.youtube.com/@PlayStation">Youtube</a></li>
			<li><a href="https://www.linkedin.com/in/emily-souza-silva-87972b18b/">Linkedin</a></li>
			<li><a href="https://github.com/padme95?tab=repositories">GitHub</a></li>
		</ul>
	</div>
</div>
